@font-face {
  font-family: EMPIRE;
  src: url("/holyrome/v1/fonts/Holyv2c.ttf");
}

body {
  font-family: EMPIRE;
  background-color: #ddca69FF;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #666666;
}

p {
  margin: 0;
  font-size: 15px;
}

button {
  margin: 0;
  font-size: 15px;
  font-family: EMPIRE;
}

.red {
  color: red;
}

.green {
  color: green;
}

.ab-center {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.center {
  margin: auto;
  text-align: center;
}

.scroll {
  width: 130px;
  height: 80px;
  background-color: #fffddeFF;
  border-radius: 5px;
  font-size: 30px;
}

.scroll:hover {
  cursor: default;
}

.modal {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
  position: fixed;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  width: 500px;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  border: hidden;
  border-radius: 5px;
  background-color: #fffd89;
}

.cards-table-inline {
  width: 150px;
  border-radius: 5px;
  border: 2px solid brown;
  display: inline-block;
  background-color: beige;
}

.meta-options {
  border: hidden;
  border-radius: 5px;
  font-family: EMPIRE;
  color: black;
  border: 0.5px solid black;
  background-color: #ffffb9FF;
}

.rounded {
  border-radius: 5px;
}

.quest {
  display: none;
  background-color: #eae434;
  border-radius: 5px;
  border: 0.5px solid black;
}

.quest:hover {
  cursor: default;
}

.important {
  font-size: 30px;
}

#main-win {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 600px;
  height: 500px;
  margin: auto;
  border-radius: 5px;
  position: absolute;
  background-color: #f5e094FF;
  transition: 5s ease-in-out box-shadow;  
}

#loading {
  font-size: 30px;
}

#menu {
  width: 600px;
  height: 500px;
  border-radius: 5px;
  display: none;
  background-size: cover;
}

#menu-banner {
  top: 0px;
  left: 0px;
  border-radius: 5px;
  position: absolute;
}

#menu-title {
  font-size: 40px;
}

#menu-options {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
}

#board {
  width: 600px;
  height: 500px;
  display: none;
}

#decks {
  top: 0px;
  left: 0px;
  width: 600px;
  height: 500px;
  display: none;
  overflow-y: auto;
  position: relative;
  background-size: cover;
  background-image: url('/holyrome/v1/gui/worms.jpeg');
}

#quest-loader {
  width: 600px;
  height: 500px;
  display: none;
}

#chess, #eagle {
  top: 0px;
  left: 0px;
  border-radius: 5px;
  width: 600px;
  height: 500px;
  position: absolute;
}

#compass {
  width: 100px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: beige;
  border-radius: 50px;
}

#diet {
  width: 200px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  border-radius: 5px;
}

#time {
  top: 0px;
  right: 0px;
  background-color: beige;
  border-radius: 5px;
  position: absolute;
  font-size: 20px;
}

#cards-table-intro {
  display: table;
}

#stat {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  background-color: beige;
  position: absolute;
}

#meta-buttons {
  font-size: 0px;
}

#quest-menu {
  bottom: 60px;
  width: 100px;
  height: 200px;
  background-color: beige;
  display: none;
  position: absolute;
}

#worms {
  top: 0px;
  left: 0px;
  border-radius: 5px;
  position: fixed;
  width: 600px;
  height: 500px;
  display: none;
}

#card-decks {
  top: 50px;
  left: 5px;
  display: table;
  position: absolute;
  overflow-y: auto;
  height: 500px;
}

#quest-sec {
  width: 100px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

#pause-play {
  width: 120px;
  background-color: #f3c258;
  border-radius: 5px;
}

#pause-play:hover {
  cursor: default;
}